<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Frijole|Suez+One" rel="stylesheet">
  </head>
    <body>
      <h1>Stormtrooper Online Dating Site</h1>
      <h2>Please Log In</h2>
      <form action="/" method="post">
        <fieldset>
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="username">
          <label for="password">Password</label>
          <input type="text" name="password" placeholder="password">
          <div class="form__submit-button">
              <input type="submit">
          </div>
        </fieldset>
      </form>
    </body>
</html>
